<%- include('partials/header.ejs') %>
    <center><img src="images/profile.jpeg" alt="Baljinder Singh" id="profimg"></center>
    <br>
    <br>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(140, 239, 252);">Baljinder Singh</h2></center>
    <center><h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(130, 223, 242);">Web Developer | Entrepreneur | Tech Enthusiast </h3></center>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(128, 206, 245);"><a<a href="Baljinder_CV.pdf">Resume</a> >Resume</h2></center>

    <p class="stmt">
        Hi there! I'm Baljinder Singh, a passionate web developer with a strong desire to create amazing online experiences. I believe that the web is a powerful platform for innovation and communication.
        <br>
        <br>
        I earned my degree in Computer Science from Your University and have since been on an exciting journey in the world of web development. I have experience working with HTML, CSS, JavaScript, and various web development frameworks and libraries.
        <br>
        <br>
        As an entrepreneur, I've ventured into several tech startups, driven by the belief in the transformative potential of technology. My mission is to leverage technology to solve real-world problems and make a positive impact on society.
        <br>
        <br>
        I'm also an avid tech enthusiast, always staying up-to-date with the latest trends and technologies in the industry. I love collaborating with like-minded individuals and am open to new opportunities and partnerships.
        <br>
        <br>
        When I'm not coding or working on business ideas, you can find me exploring the outdoors, reading tech blogs, or tinkering with new gadgets.
    </p>
<%- include('partials/footer.ejs') %>
