<%- include('partials/header.ejs') %>

<section class="welcome">
    <div class="welcome-content">
        <h1 class="welcome-title">Welcome to Baljinder Singh's Portfolio</h1>
        <hr class="welcome-divider">
        <div class="mission-statement">
            <h2 class="mission-title">Mission Statement</h2>
            <p class="mission-text">
                Our mission is to inspire and empower individuals to reach their full potential. We are dedicated to providing innovative solutions that cater to the unique needs of our clients, fostering growth and progress. With an unwavering commitment to excellence, we aim to make a meaningful impact in the lives we touch.
                <br><br>
                At the core of our values lies a belief in the strength of community and collaboration. We aspire to create a world where people come together, share knowledge, and support one another. Through our mission, we strive to build a brighter future for all, driven by inclusivity, sustainability, and a shared sense of purpose.
                <br><br>
                Join us in our journey to make a difference. We are a diverse and passionate team dedicated to innovation and positive impact. Together, we can create meaningful change and shape a brighter future. Explore opportunities with us and become a part of something extraordinary. Your talents and ideas are what we need to thrive.
                <br><br>
                I invite you to explore my portfolio.
            </p>
        </div>
        <div class="get-to-know">
            <a href="/about" class="get-to-know-link">Get to know Baljinder Singh</a>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
