<%- include('partials/header.ejs') %>
<section class="services">
    <h2>My Services</h2>
    <div class="service">
        <h3>Web Development</h3>
        <p>I offer web development services to create modern and responsive websites, web applications, and e-commerce platforms. Using technologies like HTML, CSS, JavaScript, and various web frameworks, I bring your ideas to life on the web.</p>
    </div>
    <div class="service">
        <h3>Training and Workshops</h3>
        <p>I conduct training sessions and workshops to empower individuals and teams with software development best practices, tools, and technologies. Learn and grow with hands-on learning experiences.</p>
    </div>
    <div class="service">
        <h3>UI/UX Design</h3>
        <p>My UI/UX design services focus on creating visually appealing, user-friendly, and intuitive software interfaces. Enhance your applications with designs that provide a seamless user experience.</p>
    </div>
</section>
<%- include('partials/footer.ejs') %>
